name: "Check PR title"

on:
  pull_request:
    types:
      - "opened"
      - "edited"

jobs:
  check-pr-title:
    runs-on: ubuntu-latest
    steps:
      - name: "Check PR title"
        uses: "Slashgear/action-check-pr-title@v5.0.1"
        with:
          regexp: "^(CI|Utils|Common|SFTP|Deps): .+"
